<h1>New division</h1>

<form action="/wizard_divide">
  <label for="first_field">
    Divide this:
  </label>
  <input id="first_field" name="first_number" text="text">

  <label for="second_form">
    by this:
  </label>
  <input id="second_form" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
